
.panel-video-list{
    margin:5rem 0 5rem 0;
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:start;
    flex-wrap:wrap;
    gap:20px
}


.card-video {
    position: relative;
    max-width: 360px;
    max-height: 360px;
    border: solid 1px #efecec;
    border-radius:10px;
}



.btn-delete-video{
    font-size:16px;
    opacity:.5;
    top:5px;
    position:absolute;
    right:5px;
    cursor:pointer;
    z-index:1;
    background-color:#ffffff;
}

.bnt-view-detail{
    cursor:pointer;
}

.msj-error{
    color: #ff6a00;
    font-style:italic;
    font-size: 16px;
}